<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu-Based Project</title>
   
    <link rel="stylesheet" href="static\style.css">

<div class="header-content">
    <h1>Menu-Based Project</h1>
    <div class="tabs">
        <div class="tab" onclick="showContent('home')">HOME</div>
        <div class="tab" onclick="showContent('python')">PYTHON</div>
        <div class="tab" onclick="showContent('ml')">FULL-STACK</div>
        <div class="tab" onclick="window.location.href='intro.html'">PROFILE</div>
    </div>
</div>

</head>

</body>


</html>