<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu-Based Project</title>
   
    <link rel="stylesheet" href="static\style.css">

<div class="header-content">
    <h1>Menu-Based Project</h1>
    <div class="tabs">
        <div class="tab" onclick="showContent('home')">HOME</div>
        <div class="tab" onclick="showContent('python')">PYTHON</div>
        <div class="tab" onclick="showContent('ml')">FULL-STACK</div>
        <div class="tab" onclick="window.location.href='intro.html'">PROFILE</div>
    </div>
</div>

</head>
<body>
    
    <div class="container">
        
        <div class="task-container">
                    
                    <div class="task-box" id="send-email" onclick="window.location.href='send_email.html'">
                    <img src="https://img.icons8.com/ios-filled/50/000000/email.png" alt="Email Icon">
                    <h3>Send Email</h3>
                    <p>Send Email Using Python Code.</p>
                    </div>
                 
      
            <div class="task-box" id="send-sms" onclick="window.location.href='send_message.html'">
                <img src="https://img.icons8.com/ios-filled/50/000000/sms.png" alt="SMS Icon">
                <h3>Send SMS</h3>
                <p>Send SMS messages using Python code.</p>
            </div>
            <div class="task-box" id="scrape-google" onclick="window.location.href='google.html'">
                <img src="https://img.icons8.com/ios-filled/50/000000/google.png" alt="Google Icon">
                <h3>Scrape Google</h3>
                <p>Scrape top 5 search results from Google.</p>
            </div>
            <div class="task-box" id="geo-coordinates" onclick="window.location.href='location.html'">
                <img width="100" height="100" src="https://img.icons8.com/pastel-glyph/100/marker--v1.png" alt="marker--v1"/>
                <h3>Geo Coordinates</h3>
                <p>Find current geo coordinates and location.</p>
            </div>
            <div class="task-box" id="text-to-audio" onclick="window.location.href='text_to_audio.html'">
                <img width="60" height="60" src="https://img.icons8.com/ios-glyphs/60/speech-to-text.png" alt="speech-to-text"/>
                <h3>Text-to-Audio</h3>
                <p>Convert text to audio using Python code.</p>
            </div>
            <div class="task-box" id="volume-control" onclick="window.location.href='volume_control.html'">
                <img src="https://img.icons8.com/ios-filled/50/000000/volume.png" alt="Volume Icon">
                <h3>Control Volume</h3>
                <p>Control the volume of your laptop.</p>
            </div>
            <div class="task-box" id="connect-mobile" onclick="window.location.href='phone_connect_sms.html'">
                <img width="60" height="60" src="https://img.icons8.com/ios-glyphs/60/phone-message.png" alt="phone-message"/>
                <h3>Connect Mobile</h3>
                <p>Connect to your mobile and send SMS from your mobile app.</p>
            </div>
            <div class="task-box" id="bulk-email" onclick="window.location.href='bulk_email.html'">
                <img src="https://img.icons8.com/ios-filled/50/000000/email.png" alt="Bulk Email Icon">
                <h3>Bulk Email</h3>
                <p>Create a function to send bulk emails.</p>
            </div>
            <div class="task-box" id="send-whatsapp" onclick="window.location.href='send_whatsapp_message.html'" >
                <img src="https://img.icons8.com/ios-filled/50/000000/whatsapp.png" alt="WhatsApp Icon">
                <h3>Send WhatsApp Message</h3>
                <p>Send WhatsApp messages using Python code.</p>
            </div>
            <div class="task-box" id="access-mic" onclick="window.location.href='audio_to_text.html'">
                <img src="https://img.icons8.com/ios-filled/50/000000/microphone.png" alt="Mic Icon">
                <h3>Access Mic</h3>
                <p>Convert speech to text using JavaScript.</p>
            </div>
            <div class="task-box" id="access-camera" onclick="window.location.href='click_photo.html'">
                <img src="https://img.icons8.com/ios-filled/50/000000/camera.png" alt="Camera Icon">
                <h3>Access Camera</h3>
                <p>Click photos and stream live using JavaScript.</p>
            </div>
            <div class="task-box" id="record-video">
                <img src="https://img.icons8.com/ios-filled/50/000000/video.png" alt="Video Icon">
                <h3>Record Video</h3>
                <p>Record videos and post to Instagram using JavaScript.</p>
            </div>
            <div class="task-box" id="search-engine" onclick="window.location.href='search_google.html'">
                <img src="https://img.icons8.com/ios-filled/50/000000/search.png" alt="Search Icon">
                <h3>Create Search Engine</h3>
                <p>Search names in Google and create a custom search engine.</p>
            </div>
            <div class="task-box" id="Cohere LLM Model"  onclick="window.location.href='chatgpt.html'">
                <img src="https://img.icons8.com/ios-filled/50/000000/chat.png" alt="Chat Icon">
                <h3>ChatGPT Integration</h3>
                <p>Integrate ChatGpt with JavaScript for responses and voice input.</p>
            </div>
            <div class="task-box" id="docker-metrics">
                <img src="https://img.icons8.com/ios-filled/50/000000/docker.png" alt="Docker Icon">
                <h3>Docker Metrics</h3>
                <p>Create graphs of Docker metrics using JavaScript.</p>
            </div>
            <div class="task-box" id="ig-post" onclick="window.location.href='upload_ig_pic.html'">
                <img width="500" height="500" src="https://img.icons8.com/ios/500/instagram-new--v1.png" alt="instagram-new--v1"/>
                <h3>Upload photo on insta</h3>
                <p>Post photo on instagram using python</p>
                
            </div>
            <div class="task-box" id="phone-call"  onclick="window.location.href='make_call.html'">
            
                <img width="100" height="100" src="https://img.icons8.com/ios-filled/100/ringer-volume.png" alt="ringer-volume"/>
            <h3>Make phone call</h3> 
            <p>Make phone call using python </p>
            </div>

            <div class="task-box" id="image-filter" onclick="window.location.href='image_filter.html'">
                <img width="100" height="100" src="https://img.icons8.com/external-outline-black-m-oki-orlando/100/external-image-filter-photography-outline-outline-black-m-oki-orlando.png" alt="external-image-filter-photography-outline-outline-black-m-oki-orlando"/>
                <h3>Image filter </h3>
                <p>Apply filter on image</p>
            </div>

            <div class="task-box" id="ping-chat" onclick="window.location.href='ping_chat.html'">
                <img width="100" height="100" src="https://img.icons8.com/ios-filled/100/filled-chat.png" alt="filled-chat"/>
                <h3>Chat with ping <command></h3>
                <p>chat with the ping command by IP adress using python </p>
            </div>

            <div class="task-box" id="linux-command" onclick="window.location.href='linux_shortcuts.html'">
                <img width="240" height="240" src="https://img.icons8.com/fluency/240/linux-terminal.png" alt="linux-terminal"/>
                <h3>Find linux shortcut command</h3>
                <p>Finf linux shortcut command using python</p>
            </div>

            <div class="task-box" id="Transfer-photo" onclick="window.location.href='send_email_pic.html'">
                <img width="100" height="100" src="https://img.icons8.com/ios/100/send-mass-email.png" alt="send-mass-email"/>
                <h3>Capture & transfer Photo to email</h3>
                <p>Capture and transfer photo to email using python.</p>
            </div>

            

            <div class="task-box" id="schedule email" onclick="window.location.href='schedule_email.html'">
                <img width="100" height="100" src="https://img.icons8.com/ios-filled/100/schedule-mail.png" alt="schedule-mail"/>
                <h3>Schedule-Email</h3>
                <p>Schedule email and send mail using python.</p>

            </div>
            
                <div class="task-box" id="launch vlc" onclick="window.location.href='launch_vlc.html'">
                    <img width="500" height="500" src="https://img.icons8.com/ios-filled/500/vlc.png" alt="vlc"/>
                    <h3>Launch Vlc</h3>
                    <p>Launch Vlc using python.</p>
    
                </div>
           
            

            <div class="task-box" id="run-train" onclick="window.location.href='run_train.html'">
                <img width="100" height="100" src="https://img.icons8.com/ios-filled/100/train.png" alt="train"/>
                <h3>Run Train</h3>
                <p>Run train using python on command promt.</p>

            </div>

            <div class="task-box" id="Web-server" onclick="window.location.href='web_server.html'">
                <img width="100" height="100" src="https://img.icons8.com/external-yogi-aprelliyanto-glyph-yogi-aprelliyanto/100/external-web-server-web-hosting-yogi-aprelliyanto-glyph-yogi-aprelliyanto.png" alt="external-web-server-web-hosting-yogi-aprelliyanto-glyph-yogi-aprelliyanto"/>
                <h3>Launch Web Server</h3>
                <p>Launch Web server using python.</p>
            </div>
           
        </div>
    </div>
    
    
</body>


</html>
